<div class="bg-color">
    <div class="column p-4 justify-content-center">
        <div class="container col-6">
            <div class="pb-4">
                <h5><strong>REDES SOCIALES</strong></h5>
            </div>
            <div class="row justify-content-around">
                <a title="Facebook" href="https://www.facebook.com/chjucav" target="_blank"><img
                        src=" ../../../assets/facebook.png" alt="Facebook" width="32" height="32"></a>
                <a title="Instagram" href="https://www.instagram.com/chjucav" target="_blank"><img
                        src=" ../../../assets/instagram.png" alt="Instagram" width="32" height="32"></a>
                <a title="GitHub" href="https://www.github.com/chjuca" target="_blank"><img
                        src=" ../../../assets/github.png" alt="GitHub" width="32" height="32"></a>
                <a title="LinkedIn" href="https://www.linkedin.com/in/chjuca/" target="_blank"><img
                        src=" ../../../assets/linkedin.png" alt="LinkedIn" width="32" height="32"></a>
            </div>
        </div>
    </div>
    <div class="text-center">
        <p><small>Carlos Juca © 2020</small></p>
    </div>
</div>