<div class="container-fluid p-4">
    <div class="column bg-color text-white p-2 ">
        <div>
            <img src={{this.avatar}} alt="image_profile" class="rounded-circle img-fluid mx-auto d-block">
        </div>
        <div class="column-list p-2 font-weight-light">
            <h2 class="text-center"><strong>Informacion General</strong> </h2>
            <div class="p-3 pl-5">
                <div class="row">
                    <img src="../../../assets/name-icon.png" alt="name icon" width="20px" height="20px">
                    <p class="pl-2">Nombre: <strong> {{this.name}}</strong></p>
                </div>
                <div class="row">
                    <img src="../../../assets/location_icon.png" alt="location icon" width="20px" height="20px">
                    <p class="pl-2"> Ubicación: <strong> {{this.location}} </strong></p>
                </div>
                <div class="row">
                    <img src="../../../assets/birth-icon.png" alt="birth icon" width="20px" height="20px">
                    <p class="pl-2">Fecha de Nacimiento <strong> {{this.dateOfBirth}}</strong></p>
                </div>
                <div class="row">
                    <img src="../../../assets/mail_icon.png" alt="email icon" width="20px" height="20px">
                    <p class="pl-2">E-mail: <strong> {{this.email}}</strong></p>
                </div>
                <div class="row">
                    <img src="../../../assets/phone_icon.png" alt="phone icon" width="20px" height="20px">
                    <p class="pl-2">Celular: <strong> {{this.phone}}</strong></p>

                </div>
            </div>
            <div class="row bg-light p-2 justify-content-around">
                <a title="Carlos Juca" href="https://www.facebook.com/chjucav">
                    <img src="../../../assets/facebook.png" alt="facebook-icon" width="40px" height="40px">
                </a>
                <a title="Carlos Juca" href="https://www.linkedin.com/in/chjuca/">
                    <img src="../../../assets/linkedin.png" alt="facebook-icon" width="40px" height="40px">
                </a>
                <a title="Carlos Juca" href="https://www.instagram.com/chjucav/">
                    <img src="../../../assets/instagram.png" alt="facebook-icon" width="40px" height="40px">
                </a>
                <a title="Carlos Juca" href="https://github.com/chjuca">
                    <img src="../../../assets/github.png" alt="facebook-icon" width="40px" height="40px">
                </a>
            </div>
        </div>
    </div>
</div>

<!-- METER EN ALGUNA PARTE
Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a> -->